@import './variables.scss';
@import 'main', 'admin', 'posts', 'profile';
@import 'https://fonts.googleapis.com/css2?family=Space+Mono&display=swap';

* {
    font-family: 'Space Mono', monospace;
    padding: 0;
    margin: 0;
}

html {
    background-color: $main-color;
}

body {
    background-color: $main-color;
    max-width: $max-screen-width;
    margin: auto;
}

p {
    padding: 0;
    margin: 0;
    color: $base-text-color ;
}

.flex {
    display: flex;
}

.flexSpaceBetween {
    justify-content: space-between;
}

.flexItemsCenter {
    align-items: center;
}

.voidButton {
    background: none;
    border: none;
    color: #fff;
}

.greenButton {
    padding: 4px 18px;
    background: $active-color;
    border: none;
    border-radius: 5px;
    color: #000;
}

.styledInput {
    border-radius: 5px;
    background: #353b49;
    border: none;
    color: #fff;
    padding: 4px 7px;
}
