$main-color: #353B49;
$base-background-color: #26282F;
$base-text-color: #FFF;
$active-color: #68E68B;
$max-screen-width: 450px;
$skill-star-size: 13px;
$skill-five-stars-width: calc($skill-star-size * 5);