#admin {
    #createPostBtn {
        font-size: 14px;
        padding: 5px;

    }

    #myPosts {
        margin-top: 15px;

        h3 {
            color: white;
        }
    }

}

.scrollable {
    margin-top: 5px;
    overflow-y: auto;


    &::-webkit-scrollbar {
        display: block;
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background: $main-color;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $active-color;
        border-radius: 5px;
    }
}

.scroll_admin {
    height: 55vh;
}

.scroll_like {
    height: 65vh;
}

.scroll_posts {
    height: 90vh;
}

.postCreationPopup {
    position: fixed;
    top: 0;
    left: 0;

    height: 100vh;
    width: min($max-screen-width, 100vw);
    margin-left: 50%;
    transform: translate(-50%);

    z-index: 10000;

    .topBar {
        padding: 10px 20px;
    }

    .content {
        background: #353b49;
        height: 100vh;

        .pictureSetArea {
            background: #26282f;
            width: 100%;
            height: 190px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;

            .uploadPictureBtn {
                background: #353b49;
                width: 34px;
                height: 34px;
                background-image: url(../../img/upload.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: 22px;
                border: none;
                border-radius: 5px;
                position: absolute;
                bottom: 10px;
                right: 20px;
            }
        }

        .typeSelectorBar {
            width: calc(100% - 40px);
            padding: 0 20px;
            margin-top: 7px;
            display: flex;
            flex-direction: row-reverse;

            .typeSelector {
                background-color: gray;
                border-radius: 10px;
                padding: 4px 11px;
                font-size: 9px;
                display: inline-block;

                &.news {
                    background: rgb(255, 189, 112)
                }

                &.vacancy {
                    background: rgb(124, 145, 255)
                }

                &.event {
                    background: rgb(36, 215, 86)
                }

                select {
                    padding: none;
                    background: none;
                    border: none;
                    font-size: 9px;

                    &:focus-visible {
                        outline: none;
                    }

                    option {
                        color: white;
                        background: $main-color;

                        &:hover {
                            background: $active-color;
                        }
                    }
                }
            }
        }

        .inputs {
            margin-top: 7px;
            display: flex;
            flex-direction: column;
            gap: 5px;

            input {
                width: calc(min($max-screen-width, 100vw) - 40px);
                font-size: 14px;
                background: #26282f;
                color: white;
                border-radius: 5px;
                margin: auto;
                border: none;
                padding: 4px 9px;

                &:focus-visible {
                    outline: none;
                }
            }

            textarea {
                width: calc(min($max-screen-width, 100vw) - 40px);
                max-width: calc(min($max-screen-width, 100vw) - 40px);
                min-width: calc(min($max-screen-width, 100vw) - 40px);
                font-size: 9px;
                background: #26282f;
                color: white;
                border-radius: 5px;
                margin: auto;
                border: none;
                padding: 4px 9px;

                &:focus-visible {
                    outline: none;
                }
            }
        }
    }
}